* {
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content {
    width: 80%
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
}

.logo-section-wrapper {
    display: flex;
}

.logo {
    vertical-align: left;
}

.text {
    display: flex;
    flex-direction: column;
}

.delicious {
    font-family:  'Dancing Script', cursive;
    font-size: 2rem;
}

.best-food {
    text-transform: uppercase;
    font-family: monospace;
    color: gray;
}

.social-media-wrapper {
    display: flex;
    align-items: center;
}

.choco-text-wrap h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;

}

.choco-header {
    display: flex;
    justify-content: space-between;
}
.print {
    height: 15px;
    width: 15px;
}
.print-wrap{
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.posted {
    margin-top: 0;
    text-transform: uppercase;
    font-size: .75rem;
    font-family: monospace;
    color: gray;
}
.print-wrap span {
    text-transform: uppercase;
    font-size: .75rem;
    font-family: monospace;
    color: gray;
}

.article {
    display: 
}


.choco-pizza-img img {
    width: 100%;
}

.article p {
    text-indent: 30pt;
    letter-spacing: -.02rem;
    color: rgb(101, 101, 101);
    margin-bottom: 2rem;
}